### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

temporal_attention/**/data
temporal_attention/**/__pycache__
temporal_attention/**/logs
temporal_attention/**/results
temporal_attention/**/runs
temporal_attention/wandb/
temporal_attention/plots/
temporal_attention/output/
temporal_attention/*.lock
temporal_attention/.env
temporal_attention/script.txt
temporal_attention/training_data
temporal_attention/semeval*
temporal_attention/output
temporal_attention/data
temporal_attention/data_2
temporal_attention/n.py
temporal_attention/old_cosine_temporal_shift.py


